<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets_admin/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets_admin/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets_admin/libs/css/style.css">
    <link rel="stylesheet" href="/assets_admin/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets_admin/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets_admin/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets_admin/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets_admin/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/assets_admin/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Quản trị nhà sách | EZLIFE </title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="index.html">EZLIFE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item">
                        <div id="custom-search" class="top-search-bar">
                            <input class="form-control" type="text" placeholder="Search..">
                        </div>
                    </li>

                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img src="/assets_admin/images/avatar-1.jpg" alt=""
                                                                           class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                             aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">Your name </h5>
                                <span class="status"></span><span class="ml-2">Admin</span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Change password</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Quản lý chung</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://google.vn" aria-expanded="false"
                               aria-controls="submenu-2"><i class="fa fa-fw fa-home"></i>Home</a>
                            <div id="submenu-2" class="collapse submenu" style="">

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="https://google.vn" aria-expanded="false"
                               aria-controls="submenu-2"><i class="fa fa-fw fa-money-bill-alt"></i>Bill Manager</a>
                            <div id="submenu-2" class="collapse submenu" style="">

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://google.vn" aria-expanded="false"
                               aria-controls="submenu-2"><i class="fa fa-fw fa-user"></i>Customer Manager</a>
                            <div id="submenu-2" class="collapse submenu" style="">

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://google.vn" aria-expanded="false"
                               aria-controls="submenu-2"><i class="fa fa-fw fa-book"></i>Book Manager</a>
                            <div id="submenu-2" class="collapse submenu" style="">

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="https://google.vn" aria-expanded="false"
                               aria-controls="submenu-2"><i class="fa fa-fw fa-user-md"></i>Staff Manager</a>
                            <div id="submenu-2" class="collapse submenu" style="">

                            </div>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="https://google.vn" aria-expanded="false"
                               aria-controls="submenu-2"><i class="fa fa-fw fa-file"></i>Report</a>
                            <div id="submenu-2" class="collapse submenu" style="">

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://google.vn" aria-expanded="false"
                               aria-controls="submenu-2"><i class="fa fa-fw fa-cogs"></i>Setting</a>
                            <div id="submenu-2" class="collapse submenu" style="">

                            </div>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <div class="ecommerce-widget">

                    <div class="row">
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Staff Manager</h5>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="inputText3" class="col-form-label">Name</label>
                                            <input id="inputText3" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail">Phone</label>
                                            <input id="inputEmail" type="email" placeholder="name@example.com" class="form-control">
                                            <p>We'll never share your email with anyone else.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputText4" class="col-form-label">Address</label>
                                            <input id="inputText4" type="number" class="form-control" placeholder="Numbers">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword">Type</label>
                                            <input id="inputPassword" type="password" placeholder="Password" class="form-control">
                                        </div>
                                        <div class="custom-file mb-3">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">File Input</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Employed Time</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                    </form>
                                    <button class="btn btn-primary d-inline-block" type="submit">Submit</button>
                                </div>

                            </div>
                        </div>
                        <!-- ============================================================== -->

                        <!-- recent orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Staff manager</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">Name</th>
                                                <th class="border-0">Phone</th>
                                                <th class="border-0">Address</th>
                                                <th class="border-0">Type</th>
                                                <th class="border-0">Employed Time</th>
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="m-r-10"><img src="/assets_admin/images/product-pic.jpg"
                                                                             alt="user" class="rounded" width="45">
                                                    </div>
                                                </td>
                                                <td>Product #1</td>
                                                <td>id000001</td>
                                                <td>20</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <div class="m-r-10"><img src="/assets_admin/images/product-pic-2.jpg"
                                                                             alt="user" class="rounded" width="45">
                                                    </div>
                                                </td>
                                                <td>Product #2</td>
                                                <td>id000002</td>
                                                <td>12</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <div class="m-r-10"><img src="/assets_admin/images/product-pic-3.jpg"
                                                                             alt="user" class="rounded" width="45">
                                                    </div>
                                                </td>
                                                <td>Product #3</td>
                                                <td>id000003</td>
                                                <td>23</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>
                                                    <div class="m-r-10"><img src="/assets_admin/images/product-pic-4.jpg"
                                                                             alt="user" class="rounded" width="45">
                                                    </div>
                                                </td>
                                                <td>Product #4</td>
                                                <td>id000004</td>
                                                <td>34</td>
                                               
                                            </tr>
                                            <tr>
                                                <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View
                                                    Details</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Copyright © 2019 <b>EZLIFE</b>. All rights reserved. Base on <b>Colorlib</b>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="/assets_admin/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="/assets_admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="/assets_admin/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="/assets_admin/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="/assets_admin/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="/assets_admin/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="/assets_admin/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="/assets_admin/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="/assets_admin/vendor/charts/c3charts/c3.min.js"></script>
<script src="/assets_admin/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="/assets_admin/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="/assets_admin/libs/js/dashboard-ecommerce.js"></script>
</body>

</html>